<!DOCTYPE html>
<html lang="en">
<link rel="stylesheet" href="{{ url_for('static', filename='style.css') }}">

<head>
    <meta charset="UTF-8">
    <title>Chatbot App</title>
</head>
<body>
<div class="box">
    <span style="--i:1;"><img src="{{ url_for('static', filename='images/sainz.png') }}"></span>
    <span style="--i:2;"><img src="{{ url_for('static', filename='images/leclerc.png') }}"></span>
    <span style="--i:3;"><img src="{{ url_for('static', filename='images/vettel.png') }}"></span>
    <span style="--i:4;"><img src="{{ url_for('static', filename='images/ferrari.png') }}"></span>
    <span style="--i:5;"><img src="{{ url_for('static', filename='images/raikkonen.png') }}"></span>
    <span style="--i:6;"><img src="{{ url_for('static', filename='images/schumacher.png') }}"></span>
    <span style="--i:7;"><img src="{{ url_for('static', filename='images/alonso.png') }}"></span>
    <span style="--i:8;"><img src="{{ url_for('static', filename='images/ferrari.png') }}"></span>


</div>
<div class="container">
    <div class="chatbox">
        <div class="chatbox__support">
            <div class="chatbox__header">
                <div class="chatbox__image--header">
                    <img src="{{ url_for('static', filename='images/chat_person.png') }}" width="50" alt="male person image">
                </div>
                <div class="chatbox__content--header">
                    <h4 class="chatbox__heading--header">Chat support</h4>
                    <p class="chatbox__description--header">Hi, since you are here let's have a chat!</p>
                </div>
                <div class="close__button">
                        <img src="{{ url_for('static', filename='images/close-button.png') }}" width="30" alt="close">
                </div>
            </div>
            <div class="chatbox__messages">
                <div></div>
            </div>
            <div class="chatbox__footer">
                <input type="text" placeholder="Write a message...">
                <button class="chatbox__send--footer send__button">Send</button>
            </div>
        </div>
        <div class="chatbox__button">
            <button><img src="{{ url_for('static', filename='images/chat.png') }}" width="50" /></button>
        </div>
    </div>
</div>

    <script>
        $SCRIPT_ROOT = {{ request.script_root|tojson }};
    </script>
    <script type="text/javascript" src="{{ url_for('static', filename='js/webapp.js') }}"></script>

</body>
</html>